<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>A simple map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
  <script type="text/javascript" src="../javascripts/geolocation.js"></script>
  <script type="text/javascript">
  var loc = [];
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(Position){
          var lat = Position.coords.latitude;
          var lng =  Position.coords.longitude;
          loc.push({
            "lat":lat,
            "lng":lng
          });
          console.log(lat);
          console.log(lng);
      },error,options);
    } else {
      $(".map").text("Your browser is out of fashion, there\'s no geolocation!");
    }
</script>
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
  <h1>Hello User {{users.name}}</h1>

<p>{{users.adress}}</p>
  <div id='map'></div>
  <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiaGFkaGVtaWhhZGhlbWkiLCJhIjoiY2owMTRqdTRzMDNnNjJxbXk5NmU5aWI4bSJ9.ebwAag3-nOzq0UO4jRlj7g';
    var map = L.mapbox.map('map', 'mapbox.streets')
        .setView([40, -74.50], 9);
        marker = L.marker([36.8984916, 10.1898241]).addTo(map);
  </script>
</body>
</html>
